@tailwind base;
@tailwind components;
@tailwind utilities;

body {
        @apply bg-zinc-50 text-gray-700;
        
        flex-wrap:nowrap;
        justify-content:space-evenly;


}




@media (min-width: 700px) {
            
    main {
            max-width: 1200px;
            display: flex;
            gap: 10rem;
            align-items: center;                    
        }

         main > div {
            max-width: 1400px;        
        }

        
        span {
            gap: 5.3rem;
            max-width: 1084;
            align-items: center;
            margin-top: 3.2rem;
        }
       
        
        
    }
